body {
text-align: center;
}
.page-content {
    padding: 0px 10px;
    margin: auto;
}

/************Form**************/

#myForm {
    display: block;
    width: 300px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.27); 
    box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.27);
}

#product_image {
  
}

#primary{
    width: 200px;
}

#myInput{
    width: 200px;
}

#myInputLabel {

}

#add_btn {

}

/************UL-LI*************/
#myUl {
}

/* Produkt li */
.mdl-list__item {
    width: 300px !important;
    margin: 0 auto !important;
    margin-bottom: 10px !important;
    -webkit-box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.27); 
    box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.27);
}
  

.demo-list-radio {
    display: inline;
}

/* Icons */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.material-symbols-outlined:hover {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

  .material-symbols-outlined:active {
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
  }

i.size-xl {
    font-size: 40px;
}
.product-text {
    margin-left: 4px;
}

.mdl-checkbox {
    height: auto !important;
    margin-left: auto !important; 
    margin-right: auto !important;
}
input[type="checkbox" i] {
    height: 20px;
    width: 20px;
    margin: auto;
    margin-right: 20px;
}

.close {
    height: 20px;
    width: 20px;
    margin: auto;   
}

/*-----Cards------*/
#card {
    display: none;
}

.mdl-card-square.mdl-card {
    width: 320px;
    height: 320px;
}
.mdl-card-square > .mdl-card__title {
    color: #fff;
    background:
      url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
  }
/*-----footer------*/
.mdl-mini-footer {
    height: 20px;
  }
