$primary: #2C2C2C;
$secondary: #C01C28;
$bgcolor: #2F2F2F;
$bg-main: #212121;
$color: #26A269;

$form: rgb(0 0 0 / 20%);
$bg-card: rgb(0 0 0 / 20%);
$bg-list: rgb(0 0 0 / 20%);
$text-list: white;
$card-text: white;
$chip-text: white;

$input-text: #C01C28;
$input-selection: #2C2C2C;
$brandcolor: #C01C28;
$white-transparent: rgb(0 0 0 / 20%);
$green: #26A269;
$darkgrey: #2F2F2F;