$primary: #006689;
$secondary: rgb(0 102 137 / 90%);
$bgcolor: white;
$bg-main: #212121;
$color: white;

$form: rgb(0 0 0 / 20%);
$bg-card: rgb(0 0 0 / 20%);
$bg-list: rgb(0 0 0 / 20%);
$text-list: white;
$card-text: white;
$chip-text: white;

$input-text: #006689;
$input-selection: rgb(0 102 137 / 90%);
$brandcolor: #006689;
$white-transparent: rgb(0 0 0 / 20%);
$green: #26A269;
$darkgrey: #2F2F2F;